POSTGRES_DB=weather_db
POSTGRES_USER=user_d
POSTGRES_PASSWORD=changeme

OPENWEATHER_API_KEY=your_openweathermap_api_key_here

DB_HOST=database
DB_PORT=5432
DB_NAME=weather_db
DB_USER=user_d
DB_PASSWORD=changeme

HOST_PROJECT_PATH=E:/Work/Project/Data_Project/weather-data-engineer

REDIS_PORT=6380

SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=changeme
SUPERSET_LOG_LEVEL=INFO
SUPERSET_FORCE_LOAD_EXAMPLES=no

DATABASE_DIALECT=postgresql+psycopg2
DATABASE_DB=superset_db
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USER=superset
DATABASE_PASSWORD=changeme

EXAMPLES_DB=examples_db
EXAMPLES_HOST=database
EXAMPLES_PORT=5432
EXAMPLES_USER=examples
EXAMPLES_PASSWORD=changeme
