POSTGRES_DB=weather_db
POSTGRES_USER=user_d
POSTGRES_PASSWORD=changeme

OPENWEATHER_API_KEY=your_openweathermap_api_key_here

# Variables below are optional / used directly by docker-compose.yaml for port mappings
# HOST_PROJECT_PATH=E:/Work/Project/Data_Project/weather-data-engineer
# REDIS_PORT=6380
# SUPERSET_PORT=8088

