--
-- PostgreSQL database dump
--

\restrict 0ZbSHrdK8zQ0G2eGtItBzXT9Sp3cZiODhCUFNHtHIf4MhUYvj4EOwwMiNNDukMn

-- Dumped from database version 14.24 (Debian 14.24-1.pgdg13+2)
-- Dumped by pg_dump version 14.24 (Debian 14.24-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: dev; Type: SCHEMA; Schema: -; Owner: user_d
--

CREATE SCHEMA dev;


ALTER SCHEMA dev OWNER TO user_d;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: daily_average; Type: TABLE; Schema: dev; Owner: user_d
--

CREATE TABLE dev.daily_average (
    city text,
    date_local date,
    total_observations bigint,
    avg_temperature numeric,
    avg_feels_like numeric,
    min_temperature double precision,
    max_temperature double precision,
    avg_humidity numeric,
    avg_pressure numeric,
    avg_wind_speed numeric,
    avg_clouds numeric
);


ALTER TABLE dev.daily_average OWNER TO user_d;

--
-- Name: raw_weather_data; Type: TABLE; Schema: dev; Owner: user_d
--

CREATE TABLE dev.raw_weather_data (
    id integer NOT NULL,
    city text,
    lat double precision,
    lon double precision,
    temperature double precision,
    feels_like double precision,
    temp_min double precision,
    temp_max double precision,
    humidity integer,
    pressure integer,
    weather_main text,
    weather_description text,
    wind_speed double precision,
    wind_deg integer,
    clouds integer,
    visibility integer,
    observed_at timestamp with time zone,
    inserted_at timestamp with time zone DEFAULT now()
);


ALTER TABLE dev.raw_weather_data OWNER TO user_d;

--
-- Name: raw_weather_data_id_seq; Type: SEQUENCE; Schema: dev; Owner: user_d
--

CREATE SEQUENCE dev.raw_weather_data_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE dev.raw_weather_data_id_seq OWNER TO user_d;

--
-- Name: raw_weather_data_id_seq; Type: SEQUENCE OWNED BY; Schema: dev; Owner: user_d
--

ALTER SEQUENCE dev.raw_weather_data_id_seq OWNED BY dev.raw_weather_data.id;


--
-- Name: stg_weather_data; Type: TABLE; Schema: dev; Owner: user_d
--

CREATE TABLE dev.stg_weather_data (
    id integer,
    city text,
    lat double precision,
    lon double precision,
    temperature double precision,
    feels_like double precision,
    temp_min double precision,
    temp_max double precision,
    humidity integer,
    pressure integer,
    weather_main text,
    weather_description text,
    wind_speed double precision,
    wind_deg integer,
    clouds integer,
    visibility integer,
    weather_time_local timestamp without time zone,
    inserted_at_local timestamp without time zone
);


ALTER TABLE dev.stg_weather_data OWNER TO user_d;

--
-- Name: weather_report; Type: TABLE; Schema: dev; Owner: user_d
--

CREATE TABLE dev.weather_report (
    id integer,
    city text,
    lat double precision,
    lon double precision,
    temperature double precision,
    feels_like double precision,
    temp_min double precision,
    temp_max double precision,
    humidity integer,
    pressure integer,
    weather_main text,
    weather_description text,
    wind_speed double precision,
    wind_deg integer,
    clouds integer,
    visibility integer,
    weather_time_local timestamp without time zone
);


ALTER TABLE dev.weather_report OWNER TO user_d;

--
-- Name: raw_weather_data id; Type: DEFAULT; Schema: dev; Owner: user_d
--

ALTER TABLE ONLY dev.raw_weather_data ALTER COLUMN id SET DEFAULT nextval('dev.raw_weather_data_id_seq'::regclass);


--
-- Data for Name: daily_average; Type: TABLE DATA; Schema: dev; Owner: user_d
--



--
-- Data for Name: raw_weather_data; Type: TABLE DATA; Schema: dev; Owner: user_d
--



--
-- Data for Name: stg_weather_data; Type: TABLE DATA; Schema: dev; Owner: user_d
--



--
-- Data for Name: weather_report; Type: TABLE DATA; Schema: dev; Owner: user_d
--



--
-- Name: raw_weather_data_id_seq; Type: SEQUENCE SET; Schema: dev; Owner: user_d
--

SELECT pg_catalog.setval('dev.raw_weather_data_id_seq', 928, true);


--
-- Name: raw_weather_data raw_weather_data_pkey; Type: CONSTRAINT; Schema: dev; Owner: user_d
--

ALTER TABLE ONLY dev.raw_weather_data
    ADD CONSTRAINT raw_weather_data_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 0ZbSHrdK8zQ0G2eGtItBzXT9Sp3cZiODhCUFNHtHIf4MhUYvj4EOwwMiNNDukMn

